<div class="container">
  <h1>Welcome to DBCeebay!</h1>
</div>

<div class="container">
<h1>Posts</h1>
  <ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
      <a href="/"><%= post.user.first_name %></a>
    </li>
    <% end %>
  </ul>
</div>
