<div class="container">
  <h1>Welcome, <%= @user.first_name %> <%= @user.last_name %></h1>
</div>

<div class="container">
<h1>Your Auctions:</h1>
  <ul>
    <% @user.posts.each do | post | %>
    <li>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </li>
    <% end %>
  </ul>
</div>
