<div class="container">
  <h1>Welcome, <%= @user.user_name %></h1>
</div>

<div class="container">
<h1>Your Auctions:</h1>
  <ul>
    <% @user.posts.each do | post | %>
    <li>
      <p><a href="/posts/<%= post.id %>"><%= post.title %></a></p>
    </li>
    <% end %>
  </ul>
</div>
