<h1>Bidding</h1>
<h3>Number of Bidders: </h3>

<form action="/bids" method="post">
  <input type="hidden" name="_method" value="put">

  <label>Bid Amount:
    <input type="text" name="bid[amount]" value="">
  </label>

  <input type="submit" value="Place Bid">

</form>
