<h1>Login</h1>

<form class="new-session-form" action="/sessions" method="post">

  <label>Email:
    <input type="text" name="email" value="">
  </label>

  <label>Password:
    <input type="password" name="password" value="">
  </label>

  <input type="submit" value="Login">

</form>
